*{
    padding: 0;
    margin: 0;
}
.container{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.card {
    margin: 15px;
    width: 280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(68, 222, 228);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.second-container{
    margin: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.second-card{
    margin: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(28, 208, 231);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.delete{
    color: red;
    display: none;
}
.second-card:hover .delete{
    display: block;
}
